
header{
	display : flex;
	height : 100px;
	width : 100%;
	flex-wrap : nowrap;
	flex-direction : row;
	justify-content : center;
	position : fixed; 
	z-index : 2;
	background-color : white;
}

body{
		background-color : 	white;
}

header .logo{
	display : flex;
	border-left : 0;
	border-right : 0.5px solid lightgrey;
	border-top : 0;
	border-bottom : 0.2px solid lightgrey;
	height : inherit;
	flex-direction : column;
	flex-basis: 30%;
	justify-content: center;
	align-items:center;
	color : #373737;

}

header .logo p{
	font-family: Allerta, serif;
	font-size: 40px;
}

header .nav{
	display : inline-flex;
	border-left : 0 solid;
	border-right : 0 solid;
	border-top : 0 solid lightgrey;
	border-bottom : 0.5px solid lightgrey;
	height : inherit;
	flex-direction : row;
	flex-wrap : nowrap;
	flex-basis:70%;
	justify-content:center;
	align-items:center;
}

header .nav .main-menu{
	list-style-type : none;
	display : flex;
	flex-direction : row;
	float: left;
    cursor: pointer;
	justify-content:center;
	align-items:center;
	font-family: Allerta, serif;
	font-size : 15px;
}

.main-menu a{ 
	color : #373737;
	text-decoration : none;
}

/* Change color of link on hover */
.main-menu a:hover{ 
	color : grey;
	text-decoration : none;
	
}

/* Change color of links when it is clicked */
.main-menu a:active{
	color : grey;
	text-decoration : none;
}

/* Show the dropdown menu on hover */
.main-menu a:hover .ul-sub-menu{
	display: block;
}

/* Content Part */
.about-section{
	height : 700px; 
	display : flex;
	position : relative; 
	flex-direction : column;
	flex-wrap : nowrap;
	justify-content : center;
	align-items : center;
}

.about-section-image-1{
	position : absolute;
	height : inherit;
	width : 100%;
}

.about-section-temp-background{
	position : absolute;
	background : black; 
	opacity : 0.5;
	height : inherit;
	width : 100%;
}

.about-section-image-1-caption{
	position : relative;
	color : white; 
	font-weight : bold;
	font-size : 75px;
	padding: 10px 10px 10px 10px;
	font-family: Allerta, serif;
}

.previous {
    background-color : grey;
    color: black;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index : 1;
}

.next {
    background-color: grey;
    color: black;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index : 1;
}

.new-arrival-section{
	height : 700px;
	display : flex;
	flex-direction : column;
	flex-wrap : nowrap;
	justify-content : center;
	align-items : center;
	font-family: Allerta, serif;
}

.new-arrival-heading{
	color : grey;
}

.new-arrival-list{
	display : flex;
	flex-direction : row;
	flex-wrap : nowrap;
	justify-content : space-around;
	align-items : center;
	width : 100%;
}

.new-arrival-list a{
	color : black;
	text-align : center;
	text-decoration : none;
}

.new-arrival-list a:hover{
	color : grey;
	opacity: 0.9;
}

.new-arrivals{
	flex-direction : row;
	flex-wrap : nowrap;
	justify-content : space-around;
	align-items : center;
	padding: 20px 20px 20px 20px;
	font-family: Allerta, serif;
}

.new-arrivals img{	
	height : 250px;
	width : 150px;
}	


.best-seller-section{
	height : 700px;
	display : flex;
	flex-direction : column;
	flex-wrap : nowrap;
	justify-content : center;
	align-items : center;
	font-family: Allerta, serif;
}

.best-seller-heading{
	color : grey;
}

.best-seller-list{
	display : flex;
	flex-direction : row;
	flex-wrap : nowrap;
	justify-content : space-around;
	align-items : center;
}
	
.best-seller-list a{
	color : black;
	text-align : center;
	text-decoration : none;
}

.best-seller-list a:hover{
	color : grey;
	opacity: 0.9;
}

.best-sellers{
	flex-direction : row;
	flex-wrap : nowrap;
	justify-content : space-around;
	align-items : center;
	padding: 20px 20px 20px 20px;
	font-family: Allerta, serif;
}

.best-sellers img{	
	height : 250px;
	width : 150px;
}

.our-collection-section{ 
	display: flex;
	width : 70% ;
	flex-basis : 70%;
	height : 700px;
	flex-direction : column;
	flex-wrap : nowrap;
	justify-content : center;
	align-items : center;
	font-family: Allerta, serif;
	margin-left: 0;
    margin-right: 0;
}

.our-collection-heading{
	color : grey;
}

.our-collection-list{
	display : flex;
	flex-direction : row;
	flex-wrap : nowrap;
	justify-content : space-around;
	align-items : center; 
} 

.our-collection-list > img{
	height : 250px;
	width : 150px;
}	

.our-collection-list a{
	color : black;
	text-align : center;
	text-decoration : none;
}

.our-collection-list a:hover{
	color : grey;
	opacity: 0.9;
}

.our-collection{
	flex-direction : row;
	flex-wrap : nowrap;
	justify-content : space-around;
	align-items : center;
	padding: 10px 10px 10px 10px;
	font-family: Allerta, serif;
}

.our-collection img{	
	height : 250px;
	width : 150px;
}

.author-section{
	width : 30%;
	height : 700px;
	display : flex;
	flex-direction : column;
	flex-wrap : nowrap;
	justify-content : center;
	align-items : center;
	flex-basis : 30%;
	font-family: Allerta, serif;
	margin-left: 0;
    margin-right: 0;
	
}

.author-section a{
	color : black;
	text-decoration : none;
}

.author-section a:hover{
	color : grey;
	text-decoration : none;
}

.author-heading{
	color : grey;
}

.authors{
	display : flex;
	flex-direction : column;
	flex-wrap : nowrap;
	justify-content : center;
	align-items : center;
}

.map{
	height : 500px;
	display : flex;
	flex-basis : 50%;
	width : 50%;
	flex-direction : column;
	flex-wrap : nowrap;
	justify-content : center;
	align-items : stretch;
	margin-left: 0;
	margin-right: 0;
}

.write-to-us{
	background-color : 	#F5F5F5;
	display: flex;
	height : 500px;
	flex-basis : 50%;
	flex-direction : column;
	flex-wrap : wrap;
	justify-content : center;
	align-items : center;
	font-family: Allerta, serif;
	margin-left: 0;
	margin-right: 0;
}

.write-to-us-heading{
	color : grey;
}

.name,.email,.tel,.suggestion{
	background-color : white;
	border : 1px solid lightgrey;
	border-radius : 4px;
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items : center;
	font-family: Allerta, serif;
}

.submit{
	margin: 5px;
	background-color : white;
	border : 1px solid lightgrey;
	border-radius : 4px;
	font-family: Allerta, serif;

}

footer {
	display : flex;
	height : 400px;
	flex-direction : row;
	flex-wrap : nowrap;
	background-color : #373737;
	clear : both;
	font-family: Allerta, serif;
}

footer a{
	color : white;
	text-decoration : none;
}

footer .footer-section-1,.footer-section-2{
	display : flex;
	flex-direction : row;
	flex-wrap : nowrap;
}

footer .footer-section-1 .footer-left-section-1{
	display : flex;
	flex-direction : column;
	flex-wrap : nowrap;
	justify-content : flex-start;
	margin: 20px 10px 10px 10px;
	padding: 10px 10px 10px 10px;

}

footer .footer-section-1 .footer-center-section-1{
	display : flex;
	flex-direction : column;
	flex-wrap : nowrap;
	justify-content : flex-start;
	margin: 20px 10px 10px 10px;
	padding: 20px 10px 10px 10px;

}

footer .footer-section-1 .footer-right-section-1{
	display : flex;
	flex-direction : column;
	flex-wrap : nowrap;
	justify-content : space-around;
	margin: 20px 10px 10px 10px;
	padding: 20px 10px 10px 10px;
}

footer .footer-section-1 .footer-right-section-1 button{
	text-align: center;
    text-decoration: none;
    display: inline-block;
	width : 100px;
}

footer .footer-section-2 .footer-left-section-2{
	display : flex;
	flex-direction : column;
	flex-wrap : nowrap;
	justify-content : flex-start;
	margin: 20px 10px 10px 10px;
	padding: 20px 10px 10px 10px;
}

footer .footer-section-2 .footer-right-section-2{
	display : flex;
	float : right;
	flex-direction : row;
	flex-wrap : nowrap;
	justify-content : center;
	margin: 20px 10px 10px 10px;
	padding: 20px 10px 10px 10px;
}

.combined-section-1, .combined-section-2, .combined-section-3{
	display : flex;
	flex-direction : row;
	flex-wrap : nowrap;
	height : auto;
}










